:root {
  --color-primary: #6741d9;
  --color-primary-light: #7950f2;
  --color-text: #dee2e6;
  --color-text-dark: #adb5bd;
  --color-background-100: #343a40;
  --color-background-500: #2b3035;
  --color-background-900: #212529;
  --color-red: #fa5252;
  --color-red-dark: #e03131;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: var(--color-text);
  background-color: var(--color-background-900);
  padding: 2.4rem;
}
.App{
  position: relative;
}

.navbar{
  
  background-color: var(--color-primary);
  height: 80px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
}
.popcorn{
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 15px;
  font-weight: 500;
}
.search{
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35%;
}
.result{

  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  font-size: 15px;
  font-weight: 500;
}
.search>input{
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: var(--color-primary-light);
  box-shadow: 2px 2px 2px 2px var(--color-primary);
  color: white;
  font-size: 18px;
  outline: none;
  text-align: center;
  transition: transform 0.5s ;
  cursor: pointer;
}
.search>input:focus{
  transform: scale(1.1);
  box-shadow: 0 0 15px rgb(255, 255, 255);
  
}
.search>input::placeholder{
  color: rgba(255, 255, 255, 0.726);
  font-weight: 500;
  text-align: center;
}

.main{
  /* border: 2px solid white; */
  height: 75vh;
  display: flex;
  width: 70%;
  margin-top: 20px;
  gap: 20px;
 
}
.leftsec{
  /* border: 2px solid yellow; */
  height: 100%;
  width: 50%;
  background-color: var(--color-background-100);
  border-radius: 10px;
  overflow: scroll;
}
.rightsec{
  /* border: 2px solid green; */
  width: 50%;
  height: 100%;
  background-color: var(--color-background-100);
  border-radius: 10px;
  overflow: scroll;
}
.main-container{
  /* border: 2px solid orange; */
  display: flex;
  justify-content: center;

}
.left-list{
  
  height: 100px; 
 
 

}

.left-list ul{
  list-style: none;
}

.list-container{

  margin-top: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.342);
  display: flex;
  flex-direction: row;
  height: 110px;
  gap: 20px;
  padding: 20px;

 
}
.list-container:hover{
  background-color: var(--color-background-500);
  cursor: pointer;
}
.list-left{
  /* border: 2px solid white; */
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
 

}
.list-right{
  
  font-size: 20px;
  margin: 5px;
  font-weight: 600;
  
}
.list-left img{
  width: 100%;
  height: 80px;
 background-position: center;
 padding: 2px;
}
.movie-year-para{
  margin-left: 5px;
  font-weight: 500;
}
.movie-span-year{
  margin-left: 5px;
  font-weight: 500;
}

.right-top-sec{
  /* border: 2px solid white; */
  height: 120px;
  border-radius: 10px;
  background-color: var(--color-background-500);
  box-shadow: 2px 2px 2px var(--color-background-900);
  /* padding: 20px; */
  width: 100%;
 
}
.right-top-movie{
  /* border: 2px solid white; */
  display: flex;
  gap: 25px;
  font-size: 17px;
  font-weight: 500;
  padding-left: 25px;
  justify-content: center;
  align-items: center;
}
.movies-watched{
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
}

.rightlist{
  border: 2px solid white;
  height: 100px;
  padding: 10px;
}
.right-list-image{
  border: 2px solid yellow;
  width: 80px;
  height: 80px;
}
.right-sec-items{
  display: flex;
}
.image-text-container{
  display: flex;
  
}
.right-sec-movie-name{
  /* margin-left: 50px; */
  font-size: 20px;
  border: 2px solid white;
   height: 40px;
  /* width: 50px; */
 font-weight: 600
}
.right-sec-items{
  margin-top: 30px;
  border: 2px solid white;
  width: 100%;
  gap: 20px;
  margin-bottom: -20px;
  
}
.right-sec-container{
  border: 2px sold yellow;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 15px;
  
 
}
.right-list-image>img{
  width: 100%;
  height: 100%;
}
.right-sec-list{
  list-style: none;
}

.movie-year-para-right{
 
  width: 300px;
  display: flex;
  gap: 15px;
}
.btn{
 background-color: rgba(255, 166, 0, 0.582);
 color: black;
 border-radius: 50%;
 padding: 2px 8px 2px 8px ;
 border: none;
 align-items: center;
}

.loading{
  font-size: 25px;
  /* border: 2px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;

}
.error{
  /* border: 2px solid white; */
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(10px);
  box-shadow: 2px 2px 2px var(--color-background-900);
  padding-left: 100px;
 
}
.errorMessage{
  font-size: 40px;
}
.details{
 

}

.watch-List-Container{
  width: 50%;
  height: 100%;
  background-color: var(--color-background-100);
  border-radius: 10px;
  /* border: 2px solid white; */
  overflow-y: scroll;
  overflow-x: hidden;
  
}
.watch-List-Header{
  /* border: 2px solid white; */
  height: 200px;
  display: flex;
  background-color: var(--color-background-500);
  box-shadow: 2px 2px 2px var(--color-background-500);
}
.img-watch-list{
  height: 100%;
  width: 95%;
}
.watch-List-Image{
  height: 100%;
  width: 50%;
  position: relative;
}
.close-list-btn{
  position: absolute;
  top: 8px;
  left: 8px;
  padding: 5px 5px 5px 5px ;
  border-radius: 50%;
  font-size: 20px;
  background: rgba(126, 126, 251, 0.893);
  border: none;
}
.watch-list-text{
  /* border: 2px solid yellow; */
  width: 50%;
  padding: 10px;
}
.watch-list-title{
  font-size: 25px;
}
.movie-detail{
  font-size: 15px;
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.watch-list-bottom{
  /* border: 2px solid white; */
  height: 70%;
  padding: 20px;
}
.star-list-container{
  /* border: 2px solid yellow; */
  height: 120px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-background-500);
  border-radius: 20px;
 
}

.star{
  /* margin-top: 20px; */
  /* border: 2px solid white; */
  height: 40px;
  width: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.star-btn{
  /* border: 2px solid green; */
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
.star-btn>button{
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  outline:none;
  background-color: var(--color-primary);
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}

.bottom-movie-details{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 15px;
  margin-top: 10px;
}

.rated-movie{
  font-size: 20px;
  padding-left: 100px;
  font-weight: 500;
}
